@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 16, ../sass/site-parallaxe.scss */
body {
  background-color: #000;
}

/* line 20, ../sass/site-parallaxe.scss */
header {
  width: 100%;
  background-color: #000b0b;
  position: fixed;
}

@font-face {
  font-family: "Futura";
  src: url("../Futura.ttc");
}
@font-face {
  font-family: "FuturaStd";
  src: url("../FuturaStd-Light.otf");
}
/* line 36, ../sass/site-parallaxe.scss */
.liennav {
  font-family: "FuturaStd";
  color: #FCFCFC;
  background-color: #000b0b;
  padding-left: 15px;
  border-style: solid;
  border-width: 4px;
  border-color: #000b0b;
  text-decoration: none;
  border-radius: 1px;
  font-weight: bold;
}

/* line 49, ../sass/site-parallaxe.scss */
.liennav:hover {
  color: #ffea4e;
}

/* line 53, ../sass/site-parallaxe.scss */
.liennav:active {
  color: #5C859A;
}

/* line 57, ../sass/site-parallaxe.scss */
.links-principal {
  font-family: 'FuturaStd';
  color: #00b5b5;
  text-decoration: none;
  font-weight: lighter;
}

/* line 64, ../sass/site-parallaxe.scss */
.links-principal:hover {
  color: #fcc935;
  font-weight: lighter;
}

/* line 69, ../sass/site-parallaxe.scss */
.links-principal:active {
  color: #ffcccc;
  font-weight: lighter;
}

/* line 74, ../sass/site-parallaxe.scss */
#nav {
  padding-top: 30px;
  padding-bottom: 0px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000b0b;
  box-shadow: 0px 3px 6px #000;
  position: fixed;
  height: 50px;
}

/* line 86, ../sass/site-parallaxe.scss */
#footer {
  font-family: 'Futura', Georgia, serif;
  font-weight: normal;
  color: #CCC;
  width: 100%;
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: 0px;
  left: 0;
  background-color: #000b0b;
  box-shadow: 7px 5px 5px 10px #000;
  height: 50px;
  padding-top: 30px;
  padding-bottom: 0px;
}

/* line 103, ../sass/site-parallaxe.scss */
i.social {
  margin: 5px;
}

/* line 107, ../sass/site-parallaxe.scss */
i.small {
  font-size: 2em;
  color: white;
}

/* line 112, ../sass/site-parallaxe.scss */
i.social:hover {
  color: #ffea4e;
}

/* line 116, ../sass/site-parallaxe.scss */
i.flight {
  font-size: 25px;
  color: white;
  vertical-align: middle;
  padding-bottom: 3px;
}

/* line 123, ../sass/site-parallaxe.scss */
i.flight:hover {
  color: #f62459;
  vertical-align: middle;
  padding-bottom: 3px;
}

/* line 129, ../sass/site-parallaxe.scss */
i.create {
  font-size: 25px;
  color: white;
  vertical-align: middle;
  padding-bottom: 3px;
}

/* line 136, ../sass/site-parallaxe.scss */
i.create:hover {
  color: #f62459;
  vertical-align: middle;
  padding-bottom: 3px;
}

/* line 142, ../sass/site-parallaxe.scss */
#actu1 {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: 'FuturaStd';
  padding-top: 3px;
  padding-left: 10px;
  margin-top: 1em;
}

/* line 153, ../sass/site-parallaxe.scss */
span.actu-paragraphe {
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: 'FuturaStd';
  vertical-align: middle;
  padding-left: 5px;
}

/* line 162, ../sass/site-parallaxe.scss */
#bienvenue {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #CCC;
}

/* line 168, ../sass/site-parallaxe.scss */
#bienvenue2 {
  background-color: #ffea4e;
  text-align: center;
  color: #CCC;
  font-size: 18px;
  margin-top: -20px;
}

/* line 176, ../sass/site-parallaxe.scss */
.top1 {
  height: 400px;
}

/* line 180, ../sass/site-parallaxe.scss */
.topexp {
  height: 12em;
}

/*sert a rien en % */
/* line 187, ../sass/site-parallaxe.scss */
.top2 {
  height: 10em;
}

/* line 191, ../sass/site-parallaxe.scss */
#cadreTitre {
  background-color: #ffea4e;
  text-align: center;
  font-family: Futura;
  font-weight: lighter;
  color: #CCC;
  margin-bottom: 15px;
  padding: 5px;
  margin-top: 40px;
}

/* line 202, ../sass/site-parallaxe.scss */
#experience2 {
  background-color: rgba(0, 0, 51, 0.5);
  text-align: center;
  font-family: Futura;
  font-weight: lighter;
  color: #CCC;
  padding: 5px;
}

/* line 211, ../sass/site-parallaxe.scss */
#formation2 {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: Futura;
  font-weight: lighter;
  color: #CCC;
  padding: 5px;
}

/* line 220, ../sass/site-parallaxe.scss */
#projetsSuite {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: Futura;
  font-weight: lighter;
  color: #CCC;
  padding: 5px;
}

/* line 229, ../sass/site-parallaxe.scss */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #FDFDFD;
  padding: 0% 0% 0% 2%;
  font-size: 30px;
}

/* line 236, ../sass/site-parallaxe.scss */
h2 {
  font-family: 'FuturaStd';
  color: #000;
}

/* line 241, ../sass/site-parallaxe.scss */
h3 {
  font-family: 'FuturaStd';
  font-weight: lighter;
  color: #00b5b5;
  padding-left: 20px;
}

/* line 248, ../sass/site-parallaxe.scss */
p {
  padding: 5px;
  font-family: 'FuturaStd', Georgia, serif;
  color: white;
}

/* line 254, ../sass/site-parallaxe.scss */
.soustitre {
  font-family: 'FuturaStd';
  font-size: 40px;
  color: #00b5b5;
  text-align: center;
  padding: 20px;
  font-weight: bolder;
}

/* line 263, ../sass/site-parallaxe.scss */
.dispo {
  color: #000;
}

/* line 267, ../sass/site-parallaxe.scss */
.jaune {
  font-family: 'FuturaStd';
  font-weight: bold;
  color: #000;
}

/* line 273, ../sass/site-parallaxe.scss */
.angie {
  font-family: 'Futura';
  font-weight: lighter;
  color: #e30470;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px;
  padding-left: 6px;
}

/* line 282, ../sass/site-parallaxe.scss */
#espace {
  height: 100px;
}

/* Mise en place des différentes parties / slides */
/* line 289, ../sass/site-parallaxe.scss */
#slide1,
#slide2,
#slide3,
#slide4 {
  height: 850px;
  padding-top: 0px;
}

/* line 297, ../sass/site-parallaxe.scss */
#slide1 {
  background: url(../photos/mediterranee.jpg) center 0 no-repeat fixed;
}

/* line 301, ../sass/site-parallaxe.scss */
#slide2 {
  background: url(../photos/perroquet-colo.jpg) center 0 no-repeat fixed;
}

/* line 305, ../sass/site-parallaxe.scss */
#slide3 {
  background: url(../photos/new-york-colo.jpg) center 0 no-repeat fixed;
}

/* line 309, ../sass/site-parallaxe.scss */
#slide4 {
  background: url(../photos/montreal-colo.jpg) center 0 no-repeat fixed;
}

/* Gestion du contenu */
/* line 316, ../sass/site-parallaxe.scss */
.slide_inside {
  width: 75%;
  margin: 0 auto;
}

/* line 321, ../sass/site-parallaxe.scss */
#slide1 .slide_inside {
  text-align: center;
}
